[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.2.13"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
pillow = "*"
pytest = "*"
pytest-django = "*"
django-cors-headers = "*"
cloudinary = "*"
django-cloudinary-storage = "*"
python-dotenv = "*"
dj-database-url = "*"
psycopg-binary = "*"

[dev-packages]

[requires]
python_version = "3.13"
